*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
img{
	max-width:100%;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
}

body{
  background-color: #C4D7ED;
}

.responsive {
  width: 100%;
  height: auto;
}
h1{
	text-align: center;
	font-family: 'Amarante', cursive;
	font-size:70px;
	color: black;
	padding:100px;

}
/* Bordered form */
form {
    padding:60px;
    margin: 80px;
    border: 1px solid #f1f1f1;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

#submit{
    
    border-radius: 10px;
    padding:.5rem;
    border:1px solid black;
    text-align: center;
    cursor: pointer;
    background-color: #375D81;
    color: white;

}
@media screen and (max-width: 900px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}